header#header {
    padding: 18px 0px 10px 0px;
    position: absolute;
    width: 100%;
    top: 0px;
  }
  /* page header starts here */
  .pageHeader-sec {
    background-image: url("../img/pageheader-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 145px 0px 50px 0px;
  }
  .pageHeader-sec .page-header-wrapper {
    text-align: center;
  }
  .pageHeader-sec .page-header-wrapper {
    text-align: center;
  }
  .pageHeader-sec .page-header-wrapper .heading-wrapper h3 {
    color: #ffffff;
    font-family: "hanson";
    font-size: 36px;
    text-transform: uppercase;
  }
  .pageHeader-sec .breadcrumbs-wrapper ul {
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .pageHeader-sec .breadcrumbs-wrapper ul li {
    margin: 0px 10px;
  }
  .pageHeader-sec .breadcrumbs-wrapper ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "walkway";
    font-size: 16px;
    font-weight: 700;
  }
  .pageHeader-sec .breadcrumbs-wrapper ul li.base-page a {
    color: #8c9c9f;
  }
  /* page header ends here */